<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JenkinsDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC701C7D1E35DDC3007E532D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC701C961E35DDC6007E532D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC701CA11E35DDC6007E532D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
